## Initialisation

In [3]:
import pandas as pd
import sqlalchemy
import mysql.connector

import sys
sys.path.insert(0,"/home/apprenant/PycharmProjects/american-dream")

from src.d00_utils.mysql_utils import connect_to_mysql,save_to_mysql

db_connection = connect_to_mysql()

## Importation des données de sql vers dataframe

In [4]:
df_survey = pd.read_sql("survey",con=db_connection)
df_analyst = pd.read_sql("analyst",con=db_connection)

In [5]:
#verification de la bonne création des dataframes
print(df_survey.head())

   index  Survey Year           Timestamp  SalaryUSD        Country  \
0      0         2020 2020-01-04 18:50:34   115000.0  United States
1      1         2020 2020-01-04 10:43:02   100000.0  United States
2      2         2020 2020-01-04 09:51:46   100000.0          Spain
3      3         2020 2020-01-04 01:08:54    70000.0  United States
4      4         2020 2020-01-03 15:28:54   110000.0  United States

  PostalCode       PrimaryDatabase  YearsWithThisDatabase  \
0         03  Microsoft SQL Server                     15
1       None                 Other                      6
2      28046  Microsoft SQL Server                      2
3      94133  Microsoft SQL Server                      3
4      95354                Oracle                     30

                                      OtherDatabases    EmploymentStatus  ...  \
0  Microsoft SQL Server, MongoDB, Azure SQL DB (a...  Full time employee  ...
1                                      MySQL/MariaDB  Full time employee  ...
2                                      MySQL/MariaDB  Full time employee  ...
3                                   Microsoft Access  Full time employee  ...
4  Microsoft SQL Server, Oracle, MySQL/MariaDB, P...  Full time employee  ...

  NewestVersionInProduction OldestVersionInProduction  \
0           SQL Server 2019           SQL Server 2016
1                  informix                  informix
2           SQL Server 2017           SQL Server 2017
3           SQL Server 2016           SQL Server 2012
4           SQL Server 2016         SQL Server 2008R2

   PopulationOfLargestCityWithin20Miles  EmploymentSector  \
0                  20K-99K (large town)  Private business
1                      1M+ (metropolis)  Private business
2                      1M+ (metropolis)  Private business
3                      1M+ (metropolis)  Private business
4                      100K-299K (city)        Non-profit

  LookingForAnotherJob                     CareerPlansThisYear  Gender  \
0            Not Asked  Stay with the same employer, same role    Male
1            Not Asked                       Prefer not to say    Male
2            Not Asked  Stay with the same employer, same role    Male
3            Not Asked         Change both employers and roles    Male
4            Not Asked  Stay with the same employer, same role    Male

  OtherJobDuties KindsOfTasksPerformed Counter
0      Not Asked             Not Asked       1
1      Not Asked             Not Asked       1
2      Not Asked             Not Asked       1
3      Not Asked             Not Asked       1
4      Not Asked             Not Asked       1

[5 rows x 32 columns]

## Selectionner parmis les tables les colonnes qui de près ou de loin pourraient être intéressantes pour l'étude

## Rechercher s'il y a des colonnes qu'il faudrait transformer en datetime

## Vérifier la consistence des données

## Rechercher les valeurs abbérantes et les traiter